.process {
  width: 450px;
  min-height: 500px;
  margin-right: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}
.process h5 {
  margin-bottom: 5rem;
  font-weight: 400;
  color: #04ee04;
}
.process h5 span {
  color: yellow;
}
.process h4 {
  color: #04ee04;
  font-weight: 400;
}
.process p {
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  text-overflow: auto;
}
.process .incoming {
  width: 100%;
  margin-bottom: 15rem;
  overflow: auto;
  text-overflow: auto;
}
.process .crypt {
  width: 100%;
  overflow: auto;
  height: 100%;
}
